/*typo*/
body{
    font-family: Arial, Helvetica, sans-serif;
}
/*common*/
.grey_btn{
    background-color: #363636;
    color: white;
    border: 2px solid #363636;
}
.grey_btn:hover{
    box-shadow: inset 0px 0px 0px 2px white ;
    color: white;
}
.red_btn{
    background-color: #cd3d0f;
    color: white;
    border: 2px solid #cd3d0f; 
}
.red_btn:hover{
    box-shadow: inset 0px 0px 0px 2px black ;
    color: white;
}
.ligth_grey_btn{
    background-color: #d9dadc;
    color: #0072ce;
    margin: 30px 0;
    border: 2px solid #d9dadc;
}
.ligth_grey_btn:hover{
    box-shadow: inset 0px 0px 0px 2px #bebcbb ;
    color: #0072ce;
}
.white_btn{
    background-color: white;
    color: black;
    margin: 30px 0;
    border: 2px solid white;
}
.white_btn:hover{
    box-shadow: inset 0px 0px 0px 2px #161c3b ;
    color: black;
}
.btn-primary{
    border:2px solid #2d64e6;
}
.btn-primary:hover{
    box-shadow: inset 0px 0px 0px 2px white ;
    color: white;
}

/*header*/
header{
    position: fixed;
    z-index: 5;
    width: 100%;
    top: 0;
}
.header_top{
    background-color: black;
    width: 100%;
    display: flex; 
    justify-content: flex-end;  
    padding-right: 10px; 
}
.logo-sony{
    padding: 6px 0;
    height: 25px;    
}
.bg-light{
    background-color: white;
}
.dropdown-toggle::after{
    border: none;
    content: url(../img/chevron-down-solid.svg);
    display: inline-block;
    width: 10px;
    vertical-align: middle;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
}
.search_img{
    height: 25px;
}
.fa-search{
    color: black;
}
@media screen and (min-width:768px) and (max-width:830px) {
    .grey_btn{
        display:none;
    }
    .fa-search{
        display: none;
    }
    
}
/*hero*/
.hero{       
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;    
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    margin-top: 100px;
    display: flex;    
}
.returnal_logo{
    height: 20px;    
}
.hero_text {   
    color: white;    
   padding-top: 300px;
    padding-left: 30px; 
} 
.title_hero{
    padding: 15px 0;
} 
.bottom_hero_img{
    margin-top: 24px;
	padding: 2px;
    transition: transform 0.2s linear;	
}
.bottom_hero_img:hover{
    transform: translateY(-10px);
}
.small_hero{
    border-radius: 20px;
}
/*sezione ps5*/
.play5{
    margin-top: 110px;
}
.blue_text{
    color: #0072ce;
    font-size: 15px;
}
.grey_text{
    color: #727272;
    font-size: 18px;
    padding-top: 18px;
    font-weight: 500;
}
.play5_console{
   width: 100%;
}
h2{
    font-weight: 500;
}
.hero_h5{
    padding-bottom:20px
}
.col_5{
    height: 120px;      
}
.row-cols-xs-3 .col:not(:first-child){
    opacity: 0.5;
    transform: opacity 0.2s linear;
}
.row-cols-xs-3 .col:not(:first-child):hover{
    opacity: 1;
}
.row-cols-xs-3 .col:first-child{
    border-bottom:3px solid #0072ce;      
}
/* sezione hero 2 */
.hero_2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;    
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    margin-top: 50px;
    display: flex; 
    color: white;
}
.takes_logo{
    height: 200px;
    margin:70px 0 30px 0;
}
/*sezione nuove uscite*/
.nuove_uscite{
    background-color: #1f1f1f;
    color: white;
}
.nuove_uscite h3{
    margin-top: 20px;
}
.img_news{
    width: 100%;
}

/*sezione play4*/
.play_4{
    margin-top: 50px;
}
.play_4 .col-6{
    margin: auto;
}
.play4_img{
    max-height: 200px;
    margin-top: 80px;
}
.btn_ps4{
    margin: 20px 0 50px 0 ;
}
/*sezione playstation plus*/
.playstation_plus{
    background-color: #bebcbb;
    width: 100%;
    
}
.psplus_logo{
    height: 70px;
    margin:30px 0 40px 0;
}
.psplus_img{
    height:auto;
    width: 100%;
}
@media screen and (max-width:768px){
    .psplus_img{
        display: none;
    }
    
}
/*sezione sconti*/
.sconti{
    margin-top: 70px;
}
.img_sconti{
    margin: 50px 0;
    padding: 5px;
}
/*sezione ps now*/
.ps_now{
    background-color: #161c3b;
    color: white;
    width: 100%;
}
.psnow_img{
    height: auto;
    width: 100%;
    
}
@media screen and (max-width:768px) {
    .psnow_img{
        display: none;
    }
}
/*sezione social*/
.social_img{
    margin: 5px 5px 50px 5px;    
}
.social h2{
    margin: 50px 0;
}
/*footer*/
footer{
    background-color: #00439c;
    width: 100%;
    color: white;
    font-size: 14px;
}
footer li{
    list-style-type: none;
    text-decoration: none;
    
}
.footer_top .row{
    padding-top: 50px;
}
.footer_ps_logo{
    width: 100px;
}
.fa-globe{
    padding-right: 5px;
}
.footer_top p{
    margin-top: 10px;
}
.footer_bottom a{
    color: white;
}
.footer_bottom img{
    margin-bottom: 15px;
}
.footer_bottom .container{
    padding-bottom: 30px;
}
