/*typo*/
body{
    font-family: Arial, Helvetica, sans-serif;
}
/*common*/
.grey_btn{
    background-color: #363636;
    color: white;
}
.red_btn{
    background-color: #cd3d0f;
    color: white;
}
/*header*/
header{
    position: fixed;
    z-index: 5;
    width: 100%;
    top: 0;
}
.header_top{
    background-color: black;
    width: 100%;
    display: flex; 
    justify-content: flex-end;  
    padding-right: 10px; 
}
.logo-sony{
    padding: 6px 0;
    height: 25px;    
}
.bg-light{
    background-color: white;
}
.dropdown-toggle::after{
    border: none;
    content: url(../img/chevron-down-solid.svg);
    display: inline-block;
    width: 10px;
    vertical-align: middle;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
}
.search_img{
    height: 25px;
}
/*hero*/
.hero{       
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;    
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    margin-top: 100px;
    display: flex;    
}
.returnal_logo{
    height: 20px;    
}
.hero_text {   
    color: white;    
   padding-top: 300px;
    padding-left: 30px; 
} 
.title_hero{
    padding: 15px 0;
} 
.bottom_hero_img{
    margin-top: 24px;
	padding: 2px;	
}
.small_hero{
    border-radius: 20px;
}
/*sezione ps5*/
.play5{
    margin-top: 110px;
}
.blue_text{
    color: #0072ce;
    font-size: 15px;
}
.grey_text{
    color: #727272;
    font-size: 18px;
    padding-top: 18px;
    font-weight: 500;
}
.play5_console{
   width: 100%;
}
h2{
    font-weight: 500;
}
.hero_h5{
    padding-bottom:20px
}
.col_5{
    height: 120px;      
}
.row-cols-xs-3 .col:not(:first-child){
    opacity: 0.5;
}
.row-cols-xs-3 .col:first-child{
    border-bottom:3px solid #0072ce;      
}
/* sezione hero 2 */
.hero_2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;    
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    margin-top: 50px;
    display: flex; 
    color: white;
}
.takes_logo{
    height: 200px;
    margin:70px 0 30px 0;
}
/*sezione nuove uscite*/
.nuove_uscite{
    background-color: #1f1f1f;
    color: white;
}
.nuove_uscite h3{
    margin-top: 20px;
}
